.footer {
    padding-top: 60px;
    padding-bottom: 60px;
  
    background-color: var(--title-bcg-color);
    &-mail,
    &-tel {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
  }
  }
  
  .adress {
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 20px;
  }

  .contacts {
    margin-top: 0;
    display: block;
    &-list {
      margin-top: 9px;
    }
  }

  
  