.footer {
    padding-top: 60px;
    padding-bottom: 60px;
  
    background-color: var(--title-bcg-color);
    @include desktop {
      display: flex;
    }
    &-logo {
      @include desktop-max {
        display: flex;
        flex-direction: column;
        align-items: center; 
      }
      @include tablet {
        margin-right: 165px;
      }
      @include desktop {
        margin-right: 70px;
      }
    }
    &-mail,
    &-tel {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
  }
  }
  
  .adress {
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 28px;
  }

  .contacts {
    margin-top: 0;
    margin-bottom: 60px;
    // display: block;
    @include desktop {
      margin-right: 94px;
    }
    &-list {
      margin-top: 12px;
    }
  }

  
  