.footer {
    padding-top: 60px;
    padding-bottom: 60px;
  
    background-color: var(--title-bcg-color);
    &-logo {
      margin-bottom: 60px;
      @include tablet {
        margin-bottom: 0;
      }
      @include desktop-max {
        display: flex;
        flex-direction: column;
        align-items: center; 
      }
      @include tablet {
        margin-right: 165px;
      }
      @include desktop {
        margin-right: 70px;
      }
    }
    &-mail,
    &-tel {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
  }
  }
  
  .adress {
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 28px;
    margin-bottom: 12px;
  }

  .contacts {
    margin: 0;
    @include desktop {
      margin-right: 94px;
    }
    &-list:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  
  