.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--title-bcg-color);
  background-image: var(--bg-gradient), url(../images/hero-bg-mobile.jpg);
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include retina {
    background-image:  var(--bg-gradient), url(../images/hero-bg-mobile-2x.jpg);
  }
  
  @include tablet {
    background-image: var(--bg-gradient), url(../images/hero-bg-tablet.jpg);
    @include retina {
    background-image:  var(--bg-gradient), url(../images/hero-bg-tablet-2x.jpg);
    }
  }
  
  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: var(--bg-gradient), url(../images/hero-bg-desctop.jpg);
    @include retina {
    background-image:  var(--bg-gradient), url(../images/hero-bg-desctop-2x.jpg);
    }
  }
  
  &-item {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  &__item {
    color: var(--white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      max-width: 360px;
      }
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      min-width: 696px;
    }
    }
    &__btn {
      padding: 10px 32px;
      border-radius: 4px;
      min-width: 216px;
      text-align: center;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-color: transparent;
    }
    &-wrap {
      text-align: center;
    }
}






